<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">
		<link href="/favicon.ico" rel="shortcut icon" type="image/ico">
		{{ head }}
	</head>
	<body>
		<div id="container" class="wrap d_t">
			<div id="container_background" class="container d_t">
				<div id="container_content" class="d_t">
					<div id="body" class="d_tr h_100">
						<div id="body_content" class="d_tc">
							{{ body }}
						</div>
					</div>
					<div id="container_fix"></div>
				</div>
			</div>
		</div>
	</body>
</html>
