<div class="page-header">
	<div class="row">
		<div class="col-md-4">
			<div class="pull-left">
				<h1>User profile</h1>
			</div>
		</div>
		<div class="col-md-4">
			<div class="ta_c">
				<h1 class="">{{ account_name }}</h1>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pull-right">
				<h1>
					<span class="label label-info">{{ account_type }}</span>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="indent"></div>
<div class="row">
	<div class="form-group">
		<div class="col-md-12">
			{{ tabs }}
		</div>
	</div>
</div>
<div class="indent"></div>
<div class="row">
	<div class="col-md-3">

		<div class="indent"></div>
		<div class="panel panel-default">
			<div class="panel-heading">Company list</div>
			<div class="panel-body">
				{{ company_list_menu }}
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<h2>Material list</h2>
		{#<div class="indent"></div>#}
		{#<div class="row">#}
		<div id="content">
			{{ controller }}
		</div>
		{#</div>#}
	</div>
</div>



